.card {
  width: 100%;
	max-width: 736px;
	padding: var(--spacing-500);
	background-color: var(--color-white);
	border-radius: var(--spacing-300);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: var(--spacing-500);
  margin: 0 auto;
}

@media (max-width: 768px) {
  .card {
    max-width: 616px;
  }
}

@media (max-width: 480px) {
  .card {
    max-width: 100%;
		padding: 0;
		border-radius: 0;
		gap: 0;
  }
}